html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body, main, .vis {
  width: 100%;
  height: 100%;
}